---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import PricingCmp from '../components/Pricing.astro';
import Newsletter from '../components/Newsletter.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Precios - Iny">
  <Header />
  <main>
    <HeroSection 
    title="Planes Flexibles para Garzones y Restaurantes" 
    highlightText="Planes Flexibles"
    description="Regístrate gratis como garzón y consigue oportunidades laborales. Si eres restaurante, paga solo al contratar o accede a un plan profesional."
    />
    <PricingCmp />
  </main>
  <Footer />
</Layout>